<div class="site-footer">
	<ul>
		<li>
			<%= link_to "If you're interested in buying crypto then Coinbase is the easiest place to start. (This is a referral link)", "https://www.coinbase.com/join/5329a2a01f2743d8c60005f2", target:"_blank" %> 
		</li>
		<li>
			<%= link_to "Site by Ben Kinnard", "http://www.twitter.com/captainkinnard", target: "_blank" %>
				
		</li>
	</ul>
</div>