<div class="site-footer">
	<ul>
		<li>
			If you're interested in buying crypto then <%= link_to 'Coinbase', "https://www.coinbase.com/join/5329a2a01f2743d8c60005f2", target:"_blank" %> is the easiest place to start. (This is a referral link)
		</li>
		<li>
			Site by <%= link_to "Ben Kinnard", "http://www.twitter.com/captainkinnard", target: "_blank" %>
				
		</li>
	</ul>
</div>