<h1>Crypto Year Ago</h1>
<h2>Today Bitcoin is worth $6,791, and exactly one year ago it was worth $1,124.78</h2>
<h2>It is up 504% in the last year!</h2>

<p>Bitcoin hasn't been this low since <%= Date.new(2017, 11, 14) %>, a <%= (Date.today - Date.new(2017, 11, 14)).to_i %> day low.</p>

<!-- <p>For comparison the S&P has taken XX years to rise 504%</p> -->

